@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
}
:root {
  --bck-color: #f7efe9;
  --main-color: #e1d5c9;
  --add-color: #202224;
  --text-color: #b29d5d;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bck-color);
}

.gameContainer,
.summaryContainer {
  max-width: 800px;
  min-width: 330px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 10px;
  position: relative;
}
/* GAME CONTAINER */
/* HEADER STYLING*/
.headerWrapper {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.headerWrapper h1,
.summaryWrapper h2 {
  font-size: 26px;
}
.headerWrapper p {
  font-size: 13px;
}

/* HERO STYLING */
.heroWrapper {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diceContainer {
  width: 251px;
  height: 89px;
  margin: 25px;
  display: grid;
  grid-template: auto auto/ repeat(5, 1fr);
  justify-items: center;
  row-gap: 19px;
}
.dice {
  width: 35.84px;
  height: 36.84px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white;
  background: var(--add-color); */
  font-family: "Inter", sans-serif;
  font-weight: 700;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btnContainer {
  width: 250px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
}
.rollBtn {
  width: 110px;
  min-height: 36px;
  border-radius: 4px;
  border: none;
  background: var(--add-color);
  color: var(--text-color);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.smallDiceContainer {
  position: absolute;
  align-items: center;
  min-height: 36px;
  top: 0;
  right: 0;
  display: flex;
  width: 69px;
}
.smallDiceContainer {
  justify-content: left;
  width: 69px;
}
.smallDiceContainer p {
  font-size: 0.9rem;
}

.smallDice {
  margin: 5px;
  color: var(--add-color);
}

/* Darkmode btn */
.switch {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 10px;
  top: 20px;
  right: 20px;
} /* The switch - the box around the slider */

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bck-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--add-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--add-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* START OF SUMMARY CONTAINER */

.summaryWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.scoreboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bestOf,
.casual {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  position: relative;
}

.faDice {
  width: 60px;
  height: 60px;
  color: black;
  /* margin: 0 20px; */
}
.firstDice {
  color: var(--add-color);
  margin: 10px;
  font-size: 1.3rem;
}
.bestOfDice {
  color: var(--text-color);
  font-weight: 700;
  margin: 10px;
  font-size: 1.3rem;
}
.trophy {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* END OF SUMMARY CONTAINER */
